:root {
  font-size: 62.5%;
  font-family: "Poppins";
}

.nav-bar {
  padding: 4rem 30rem;
  display: flex;
  justify-content: space-between;
  &__action {
    display: flex;
    align-items: center;
  }
  &__action > * {
    margin-left: 2rem;
  }
  &__home-btn {
    width: 5rem;
    height: 5rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__btn {
    display: inline-block;
    font-size: 175%;
    transition: all 0.2s;
    &:hover {
      color: #3cad51;
      cursor: pointer;
    }
  }
  &__contact-btn {
    border: 2px solid #3cad51;
    color: #3cad51;
    padding: 1rem;
    border-radius: 24px;
    transition: all 0.2s;
    &:hover {
      background-color: #3cad51;
      color: white;
      cursor: pointer;
    }
  }
}

.hero {
  padding-top: 10rem;
  text-align: center;
  &__title {
    font-size: 400%;
    font-weight: 800;
  }
  &__desc {
    margin-top: 2rem;
    font-size: 200%;
  }
  &__img {
    margin-top: 10rem;
    width: 30rem;
    height: 30rem;
  }
}
